<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--For capturing photos in profile and chat UI-->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        >

        <meta-data android:name="android.max_aspect" android:value="2.6" />

        <activity android:name=".activities.LoginActivity" />

        <activity android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullUser"
            />

        <activity android:name=".settings.SettingsActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.thread.details.ThreadDetailsActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.CreateThreadActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.EditThreadActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".activities.EditProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name=".activities.PostRegistrationActivity"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".activities.SearchActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".recycler.ModerationActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".activities.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".activities.MainAppBarActivity"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
<!--        android:configChanges="orientation|screenSize"-->

        <activity android:name=".activities.AddUsersToThreadActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.ForwardMessageActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.ChatActivity"
            android:screenOrientation="fullUser"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".activities.preview.ChatPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullUser"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.contentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>
