<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.chatsdk.ui">

    <!--For capturing photos in profile and chat UI-->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:supportsRtl="true">

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="Android/data/com.example.package.name/files/Pictures">-->
            <!--</meta-data>-->
        <!--</provider>-->

        <provider
            android:name=".chat.PhotoProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SdkTheme">
        </activity>

        <activity android:name=".threads.ThreadDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".threads.ThreadEditDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".chat.ChatActivity"
            android:parentActivityName=".main.MainActivity"
            android:launchMode = "singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/ChatSDKSlidingTransactionTheme">

            <!--<intent-filter>-->
                <!--<action android:name="co.chatsdk.QuickReply" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name=".profile.EditProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/SdkTheme"/>

        <activity android:name=".search.SearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/SdkTheme"/>

        <activity android:name=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/SdkTheme"/>

        <activity android:name=".main.MainActivity"
            android:launchMode = "singleTask"
            android:theme="@style/SdkTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".contacts.SelectContactActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <!--Crop image-->
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- Google Maps Metadata-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
