<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>animal_main.png</string>
		<key>stickers</key>
		<array>
			<string>animal_1.png</string>
			<string>animal_2.png</string>
			<string>animal_3.png</string>
			<string>animal_4.png</string>
			<string>animal_5.png</string>
			<string>animal_6.png</string>
			<string>animal_7.png</string>
			<string>animal_8.png</string>
			<string>animal_9.png</string>
			<string>animal_10.png</string>
			<string>animal_11.png</string>
			<string>animal_12.png</string>
			<string>animal_13.png</string>
			<string>animal_14.png</string>
			<string>animal_15.png</string>
			<string>animal_16.png</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>face_main.png</string>
		<key>stickers</key>
		<array>
			<string>face_1.png</string>
			<string>face_2.png</string>
			<string>face_3.png</string>
			<string>face_4.png</string>
			<string>face_5.png</string>
			<string>face_6.png</string>
			<string>face_7.png</string>
			<string>face_8.png</string>
			<string>face_9.png</string>
			<string>face_10.png</string>
			<string>face_11.png</string>
			<string>face_12.png</string>
			<string>face_13.png</string>
			<string>face_14.png</string>
			<string>face_15.png</string>
			<string>face_16.png</string>
			<string>face_17.png</string>
			<string>face_18.png</string>
			<string>face_19.png</string>
			<string>face_20.png</string>
			<string>face_21.png</string>
			<string>face_22.png</string>
			<string>face_23.png</string>
			<string>face_24.png</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>cat_main.png</string>
		<key>stickers</key>
		<array>
			<string>cat_1.png</string>
			<string>cat_2.png</string>
			<string>cat_3.png</string>
			<string>cat_4.png</string>
			<string>cat_5.png</string>
			<string>cat_6.png</string>
			<string>cat_7.png</string>
			<string>cat_8.png</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>sinister_main.png</string>
		<key>stickers</key>
		<array>
			<string>sinister_1.png</string>
			<string>sinister_2.png</string>
			<string>sinister_3.png</string>
			<string>sinister_4.png</string>
			<string>sinister_5.png</string>
			<string>sinister_6.png</string>
			<string>sinister_7.png</string>
			<string>sinister_8.png</string>
			<string>sinister_9.png</string>
			<string>sinister_10.png</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>anim_main.png</string>
		<key>stickers</key>
		<array>
			<string>anim_egg.gif</string>
			<string>anim_simpson.gif</string>
			<string>anim_mouse.gif</string>
		</array>
	</dict>
</array>
</plist>
