<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        >

        <activity android:name="app.xmpp.adapter.activities.XMPPConfigureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="app.xmpp.adapter.activities.XMPPLoginActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
