<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.chatsdk.ui">

    // For capturing photos in profile and chat UI
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/SdkTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id"/>

        <activity android:name=".threads.ThreadDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".chat.ChatActivity"
            android:launchMode = "singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".activities.MainActivity"
            android:launchMode = "singleTask"
            android:theme="@style/SdkTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".activities.PickFriendsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".activities.SearchActivity"
            android:theme="@style/SdkTheme">
            <intent-filter>
                <action android:name="com.braunster.chatsdk.ACTION_SEARCH_AND_ADD_USERS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.EditProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/ChatSDKSlidingTransactionTheme"/>

        <activity android:name=".activities.ShareWithContactsActivity"
            android:theme="@style/SdkTheme"
            android:noHistory="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <!--Crop image-->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            />

        <!-- Google Maps Metadata-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>


</manifest>