<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.chatsdk.core">

    <uses-permission android:name="android.name.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.name.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.name.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
