<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="sdk.chat.message.sticker.view.StickerMessageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
