<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdk.chat.android.live"
    >

    <!--    If you wanted to remove permissions -->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.ACCESS_FINE_LOCATION"-->
    <!--        tools:node="remove" />-->

    <!--    <uses-permission-->
    <!--        android:name="android.permission.ACCESS_COARSE_LOCATION"-->
    <!--        tools:node="remove" />-->

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ChatSDKTheme"
        android:name="sdk.chat.MainApplication"
        android:hardwareAccelerated="true"
        tools:replace="allowBackup"
        >


<!--                <activity android:name="sdk.chat.custom.EmptyActivity">-->
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.MAIN" />-->
<!--                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                    </intent-filter>-->
<!--                </activity>-->

<!--        <activity android:name="sdk.chat.demo.DemoActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name="sdk.chat.ui.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--        Remove Android Auto-->
<!--        <meta-data android:name="com.google.android.gms.car.application"-->
<!--            android:resource="@xml/automotive_app_desc" tools:node="remove" />-->

    </application>

</manifest>
