<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.chatsdk.android.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SdkTheme"
        android:name=".AppObj">

        <activity
            android:name="co.chatsdk.ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SdkTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="co.chatsdk.firebase.push.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="co.chatsdk.firebase.push.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Google Maps Metadata - lifted from Google Services.json-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key"/>

         <!-- Chat SDK -->
        <meta-data android:name="twitter_key" android:value="@string/twitter_key" />
        <meta-data android:name="twitter_secret" android:value="@string/twitter_secret" />
        <meta-data android:name="google_maps_key" android:value="@string/google_maps_api_key" />

        <meta-data android:name="firebase_url" android:value="@string/firebase_url" />
        <meta-data android:name="firebase_root_path" android:value="@string/firebase_root_path" />
        <meta-data android:name="firebase_storage_url" android:value="@string/firebase_storage_url" />
        <meta-data android:name="cloud_messaging_server_key" android:value="@string/firebase_cloud_messaging_server_key" />

        <meta-data android:name="xmpp_service_name" android:value="@string/service_name" />
        <meta-data android:name="xmpp_service_host" android:value="@string/service_host" />
        <meta-data android:name="xmpp_service_port" android:value="@string/service_port" />
        <meta-data android:name="xmpp_search_service" android:value="@string/search_service" />
        <meta-data android:name="xmpp_resource" android:value="@string/resource" />
        <meta-data android:name="xmpp_debug_mode_enabled" android:value="@string/debug_mode_enabled" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
