<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdk.chat.demo.xmpp">

    <application
        android:name="sdk.chat.app.xmpp.MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/xmpp"
        android:roundIcon="@drawable/xmpp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:replace="allowBackup">

        <activity
            android:name="sdk.chat.ui.activities.SplashScreenActivity"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="sdk.chat.app.xmpp.wow.WowChatActivity" />

    </application>

</manifest>